<script src="../report-routing.module.ts"></script>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'horizontal'" (ngSubmit)="getData(0, PAGE_SIZE)" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="isSender">{{ 'type.status' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="search.isSender" name="isSender" id="isSender" [nzPlaceHolder]="''" [nzShowSearch]="true">
              <nz-option [nzLabel]="'Tất cả'" [nzValue]="''"></nz-option>
              <nz-option *ngFor="let i of listStatusEdoc; let idx = index" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="name">{{ 'edoc.from' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.name" name="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="code">{{ 'code.status' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.code" name="code" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="statusLGSP">{{ 'statusLGSP' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="search.statusLgsp" name="statusLGSP" id="statusLGSP" [nzPlaceHolder]="''" [nzShowSearch]="true">
              <nz-option [nzLabel]="'Tất cả'" [nzValue]="''"></nz-option>
              <nz-option *ngFor="let i of listStatusLgsp; let idx = index" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" class="text-center">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'button.search' | translate }}</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'button.reset' | translate }}</button>
      </div>
    </div>
  </form>

  <div class="my-md"></div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="false"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>{{ 'edoc.from' | translate }}</th>
        <th>{{ 'edoc.code.number' | translate }}</th>
        <th>{{ 'staffInfoStaff' | translate }}</th>
        <th>{{ 'code.status.qlvb' | translate }}</th>
        <th>{{ 'edoc.BussinessDocType' | translate }}</th>
        <th>{{ 'status' | translate }}</th>
        <!--      <th>{{ 'action' | translate }}</th>-->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.organizationFrom }}</td>
          <td>{{ data.codeNumber }}</td>
          <td>{{ data.staffInfoStaff }}</td>
          <td>
            {{
              data.statusCode == '01'
                ? '01: Đã đến'
                : data.statusCode == '02'
                ? '02: Từ chối tiếp nhận'
                : data.statusCode == '03'
                ? '03: Đã tiếp nhận'
                : data.statusCode == '04'
                ? '04: Phân công'
                : data.statusCode == '05'
                ? '05: Đang xử lý'
                : data.statusCode == '06'
                ? '06: Hoàn thành'
                : data.statusCode == '13'
                ? '13: Lấy lại'
                : data.statusCode == '15'
                ? '15: Đồng ý lấy lại/cập nhật'
                : data.statusCode == '16'
                ? '16: Từ chối lấy lại/cập nhật'
                : data.statusCode
            }}
          </td>
          <td *ngIf="data.isSended == 0">Văn bản đi</td>
          <td *ngIf="data.isSended == 1">Văn bản đến</td>
          <td *ngIf="data.isSended == 1 && data.isReceived == 0">Chưa nhận</td>
          <td *ngIf="data.isSended == 1 && data.isReceived == 1">Đã nhận</td>
          <td *ngIf="data.isSended == 0">Đã gửi</td>
          <!--        <td>-->
          <!--          <button nz-button nzType="primary" nzSize="default" (click)="edit(data.id)" [nzLoading]="submitting">-->
          <!--            {{ 'table.action.detail' | translate }}-->
          <!--          </button>-->
          <!--        </td>-->
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getData($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>
</nz-card>
