.banner {
  background-image: url("../images/common/banner.png");
  background-size: cover;
  background-position: center;
}

.banner-content {
  min-height: 380px;
  padding-top: 20%;
  padding-left: 50%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .banner-content {
    min-height: 270px;
  }
}

@media (max-width: 767.98px) {
  .banner-content {
    min-height: 200px;
    padding-left: 10px;
    padding-top: 20%;
  }
}

.banner-title {
  width: 100%;
  color: #ff0000;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

@media (max-width: 575.98px) {
  .banner-title {
    font-size: 20px;
  }
}

.banner-sub-title {
  width: 100%;
  font-size: 20px;
  color: #1a1a1a;
}

@media (max-width: 575.98px) {
  .banner-sub-title {
    font-size: 18px;
  }
}

.news {
  padding-top: 40px;
  padding-bottom: 45px;
}

@media (max-width: 575.98px) {
  .news {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.news-slider {
  padding-left: 10px;
  padding-right: 10px;
}

.news .title-headding {
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .news .title-headding {
    margin-bottom: 15px;
  }
}

.news .item {
  position: relative;
  width: calc(100% / 5);
  padding: 5px;
  line-height: 0;
}

.news .item:hover .text {
  background-color: #005cb6;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .news .item {
    width: calc(100% / 4);
  }
}

.news .item a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.news .item-content {
  position: relative;
  border: 1px solid #cbcac9;
}

.news .item-thumb {
  position: relative;
  z-index: 50;
}

.news .item-thumb .thumbnail {
  position: relative;
  padding-bottom: 78.5%;
}

.news .item-thumb .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 50;
}

.news .item .text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 1px);
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px 10px;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .item .text:hover {
  background-color: #005cb6;
}

@media (max-width: 575.98px) {
  .news .item .text {
    font-size: 8px;
  }
}

.news .slider-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: none;
}

.news .slider-nav--prev {
  position: absolute;
  left: -12px;
  width: 59px;
  height: 58px;
  background-image: url("../images/icons/icon_prev.png");
  background-size: 100% 100%;
  z-index: 100;
  background-color: unset !important;
  border: unset !important;
  outline: unset !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .news .slider-nav--prev {
    left: 0;
  }
}

@media (max-width: 767.98px) {
  .news .slider-nav--prev {
    left: 0;
    width: 30px;
    height: 30px;
  }
}

.news .slider-nav--next {
  position: absolute;
  right: -12px;
  width: 59px;
  height: 58px;
  background-image: url("../images/icons/icon_next.png");
  background-size: 100% 100%;
  z-index: 100;
  background-color: unset !important;
  border: unset !important;
  outline: unset !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .news .slider-nav--next {
    right: 0;
  }
}

@media (max-width: 767.98px) {
  .news .slider-nav--next {
    right: 0;
    width: 30px;
    height: 30px;
  }
}

.overview {
  padding-top: 24px;
  padding-bottom: 30px;
  background-color: #ebf3fa;
  border-top: 1px solid #d0deee;
}

.overview .list-overview .item {
  text-align: center;
  padding: 0 10px;
}

@media (max-width: 575.98px) {
  .overview .list-overview .item {
    width: calc(100% / 2);
    margin-bottom: 10px;
    padding: 0 15px;
    overflow: hidden;
  }
}

.overview .list-overview .item .item-thumb {
  margin-bottom: 15px;
}

@media (max-width: 575.98px) {
  .overview .list-overview .item .item-thumb img {
    max-width: 60%;
  }
}

.overview .list-overview .item .title {
  color: #005cb6;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .overview .list-overview .item .title {
    font-size: 12px;
  }
}

.overview .list-overview .item .text {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  color: #5b616a;
}

@media (max-width: 575.98px) {
  .overview .list-overview .item .text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=home.css.map */