main.login {
  background-color: #ebf3fa;
}

main.update-pass {
  min-height: calc(100vh - 60px);
}

.login-box {
  position: relative;
  top: -50px;
  padding-bottom: 85px;
  z-index: 9999;
  font-family: 'Arial', sans-serif;
}

.login-box.update-pass {
  top: 0;
  padding-top: 300px;
  z-index: 999;
}

@media (max-width: 575.98px) {
  .login-box.update-pass {
    padding-top: 150px;
  }
}

.login-box.update-pass .box {
  min-height: unset;
}

@media (max-width: 575.98px) {
  .login-box {
    padding-bottom: 20px;
  }
}

.login-box .box {
  max-width: 590px;
  min-height: 740px;
  padding: 60px 50px;
  margin: 0 auto;
  border: 1px solid #e7ecf1;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 575.98px) {
  .login-box .box {
    padding: 20px 15px;
    min-width: auto;
    min-height: auto;
  }
}

.login-box .box .form .title {
  font-size: 30px;
  color: #5b616a;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .login-box .box .form .title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.login-box .box .form .check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-box .box .form .custom-radio {
  margin-left: 30px;
}

.login-box .box .form .custom-control-label {
  color: #5b616a;
  font-size: 14px;
  font-weight: bold;
}

.login-box .box .form .custom-radio .custom-control-label::before {
  width: 15px;
  height: 15px;
  top: 6px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  background-color: unset;
}

.login-box .box .form .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  width: 15px;
  height: 15px;
  background-color: unset;
  border: 1px solid #005cb6;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.login-box .box .form .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  top: 10px;
  left: 4px;
  width: 7px;
  height: 7px;
  background-image: unset;
  background-color: #005cb6;
  border-radius: 50%;
}

.login-box .box .form .select-box {
  padding: 17px 20px;
  color: #cccccc;
  font-size: 16px;
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  height: auto;
  outline: none !important;
}

@media (max-width: 575.98px) {
  .login-box .box .form .select-box {
    padding: 10px 20px;
  }
}

.login-box .box .form .select-box:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.login-box .box .form .select-box.select-hidden {
  display: none;
}

.login-box .box .form .select {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #cccccc;
}

@media (max-width: 575.98px) {
  .login-box .box .form .select {
    font-size: 14px;
  }
}

.login-box .box .form .select-styled {
  background-color: #f2f9ff;
  padding: 15px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cedced;
}

@media (max-width: 575.98px) {
  .login-box .box .form .select-styled {
    padding: 10px 20px;
  }
}

.login-box .box .form .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #5b616a transparent transparent transparent;
  position: absolute;
  top: 25px;
  right: 12px;
}

@media (max-width: 575.98px) {
  .login-box .box .form .select-styled:after {
    top: 20px;
  }
}

.login-box .box .form .select-styled.active {
  border: 1px solid #005cb6;
}

.login-box .box .form .select-styled.active:after {
  top: 15px;
  border-color: transparent transparent #5b616a transparent;
}

@media (max-width: 575.98px) {
  .login-box .box .form .select-styled.active:after {
    top: 10px;
  }
}

.login-box .box .form .select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 15px 20px;
}

.login-box .box .form .select-options li {
  margin: 0;
  color: #5b616a;
}

.login-box .box .form .select-options li:not(:last-child) {
  margin-bottom: 15px;
}

.login-box .box .form .select-options li:hover {
  color: #005cb6;
  text-decoration: underline;
}

.login-box .box .form .select-options li[rel="hide"] {
  display: none;
}

.login-box .box .form input {
  padding: 15px 20px;
  color: #5b616a;
  font-size: 16px;
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  height: auto;
  outline: none !important;
}

.login-box .box .form input.form-control-md {
  padding: 10px 20px;
}

@media (max-width: 575.98px) {
  .login-box .box .form input {
    font-size: 14px;
    padding: 10px 20px;
  }
}

.login-box .box .form input:focus {
  border: 1px solid #005cb6;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.login-box .box .form input::-webkit-input-placeholder {
  /* Edge */
  color: #cccccc;
}

.login-box .box .form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

.login-box .box .form input::-ms-input-placeholder {
  color: #cccccc;
}

.login-box .box .form input::placeholder {
  color: #cccccc;
}

.login-box .box .form .checkbox-container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #5b616a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 40px;
  margin-bottom: 10px;
  font-style: normal;
}

@media (max-width: 575.98px) {
  .login-box .box .form .checkbox-container {
    font-size: 14px;
  }
}

.login-box .box .form .checkbox-container a:hover {
  text-decoration: unset;
}

.login-box .box .form .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.login-box .box .form .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #005cb6;
  border-radius: 3px;
}

.login-box .box .form .checkmark:hover {
  background: #005cb6;
}

.login-box .box .form .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.login-box .box .form .checkbox-container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.login-box .box .form .checkbox-container input:checked ~ .checkmark {
  background: #005cb6;
}

.login-box .box .form .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.login-box .box .form .btn-submit {
  padding: 15px 20px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: #005cb6;
  border: unset;
  margin-top: 30px;
  color: #fff;
}

@media (max-width: 575.98px) {
  .login-box .box .form .btn-submit {
    font-size: 14px;
  }
}

.login-box .box .form .btn-submit:hover {
  background-color: #2d3e50;
}

.login-box .box .form .title-primary {
  font-size: 16px;
  font-weight: bold;
  color: #005cb6;
  margin-bottom: 20px;
  line-height: 1.5;
}

@media (max-width: 575.98px) {
  .login-box .box .form .title-primary {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.login-box .box .form .title-default {
  font-size: 16px;
  font-weight: bold;
  color: #5b616a;
  margin-bottom: 10px;
}

.login-box .box .form .title-default span {
  color: #005cb6;
}

@media (max-width: 575.98px) {
  .login-box .box .form .title-default {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.login-box .box .form .ic-tk {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url(../images/icons/ic-tk.png);
  background-size: 100% 100%;
}

.login-box .box .form .ic-usb {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url(../images/icons/ic-usb.png);
  background-size: 100% 100%;
}

.login-box .box .form .ic-fido {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url(../images/icons/ic-fido.png);
  background-size: 100% 100%;
}

.login-box .box .form .ic-sim {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url(../images/icons/ic-sim.png);
  background-size: 100% 100%;
}

.login-box .box .form .form-footer {
  padding-top: 35px;
  border-top: 1px dashed #d9e4f0;
  color: #5b616a;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 575.98px) {
  .login-box .box .form .form-footer {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
  }
}

.login-box .box .form .form-footer a {
  color: #005cb6;
  text-decoration: underline;
}

.login-box .box .form .box-level {
  padding: 10px 15px;
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  border-radius: 8px;
  margin-bottom: 10px;
}

.login-box .box .form .box-level:nth-child(2) {
  margin-bottom: 70px;
}

@media (max-width: 575.98px) {
  .login-box .box .form .box-level:nth-child(2) {
    margin-bottom: 25px;
  }
}

.login-box .box .form .box-level:hover {
  border: 1px solid #005cb6;
}

.login-box .box .form .box-level .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #005cb6;
  font-size: 16px;
}

.login-box .box .form .box-level .item a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}

@media (max-width: 575.98px) {
  .login-box .box .form .box-level .item {
    font-size: 14px;
  }
  .login-box .box .form .box-level .item:not(:first-child) {
    margin-top: 10px;
  }
}

.login-box .box .form .box-level .item .icon {
  margin-right: 12px;
}

.login-box .box .txt-bold {
  font-weight: bold;
}

.login-box .box .txt-u {
  text-decoration: underline;
}

.login-box .box .txt-i {
  font-style: italic;
}

.login-box .box .form-usb {
  padding-top: 30px;
}

.login-box .box .form-usb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-box .box .form-usb-item:not(:last-child) {
  margin-bottom: 10px;
}

.login-box .box .form-usb-item .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  color: #fff;
  font-style: 30px;
  font-weight: bold;
  line-height: 1;
  border-radius: 50%;
  background-color: #005cb6;
}

.login-box .box .form-usb-item .text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-box .box .form-usb-item a {
  color: #005cb6;
}

.login-box .box .form-usb-item a:hover {
  text-decoration: unset;
}

.login-box .box .usb-group .row {
  margin: 0 -7px;
}

.login-box .box .usb-group .item {
  margin-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

.login-box .box .usb-group input::-webkit-input-placeholder {
  /* Edge */
  color: #cccccc;
}

.login-box .box .usb-group input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #cccccc;
}

.login-box .box .usb-group input::-ms-input-placeholder {
  color: #cccccc;
}

.login-box .box .usb-group input::placeholder {
  color: #cccccc;
}

.login-box.login-tkcd .form .title {
  margin-bottom: 50px;
}

@media (max-width: 575.98px) {
  .login-box.login-tkcd .form .title {
    margin-bottom: 20px;
  }
}

.login-box.login-tkcd .form .title-primary {
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .login-box.login-tkcd .form .title-primary {
    margin-bottom: 20px;
  }
}

.login-box.login-tkcd .form .form-body {
  padding-bottom: 45px;
}

@media (max-width: 575.98px) {
  .login-box.login-tkcd .form .form-body {
    padding-bottom: 20px;
  }
}

.login-box.login-xt .box .form .title-primary {
  margin-bottom: 10px;
}

@media (max-width: 575.98px) {
  .login-box.login-xt .box .form .title-primary {
    margin-bottom: 10px;
  }
}

.login-box.login-xt .box .form .title-default {
  font-size: 14px;
  margin-bottom: 45px;
}

.login-box.login-xt .box .form .btn-submit {
  margin-top: 20px;
}

.login-box.login-xt .box .form-footer {
  margin-top: 55px;
}
/*# sourceMappingURL=login.css.map */