/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0px;
}

img {
  max-width: 100%;
}

/* End Reset */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

/* Common */
body {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif !important;
  line-height: 24px;
  color: #000;
  background-color: #fff;
}

.container {
  max-width: 1030px;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 10px;
  }
}

/* End Common */
h2 {
  font-size: 21px;
  font-weight: bold;
  color: #005cb6;
}

.title-headding {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

main.home {
  padding-top: 196px;
}

@media (max-width: 767.98px) {
  main.home {
    padding-top: 65px;
  }
}

/* Header */
header.header {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 2px 5px 1px rgba(51, 51, 51, 0.1);
}

header .header-top {
  border-bottom: 1px solid #ededed;
  padding: 12px  15px 15px 15px;
}

@media (max-width: 767.98px) {
  header .header-top {
    padding: 10px  10px 5px 10px;
  }
}

header .header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

header .header-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-logo {
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  header .header-logo {
    width: 60px;
  }
}

@media (max-width: 575.98px) {
  header .header-logo {
    width: 50px;
  }
}

header .header-info-content {
  display: block;
}

header .header-info .header-sub-title {
  padding-top: 18px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

header .header-info .header-title {
  font-size: 21px;
  font-weight: bold;
  color: #005cb6;
  text-transform: uppercase;
}

header .header-info .header-action {
  padding-top: 5px;
}

@media (max-width: 767.98px) {
  header .header-info .header-action {
    display: none;
  }
}

header .header-info .header-action a {
  position: relative;
  padding: 5px 15px;
  font-size: 14px;
  color: #005cb6;
  text-decoration: none;
  margin-left: 10px;
  z-index: 200;
  background-image: url("../images/common/bg_khungdangky.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header .header-info .header-action a:hover {
  background-image: url("../images/common/bg_khungdangky_hover.png");
  color: #fff;
}

header .header-info .header-action .select-styled, header .header-info .header-action .select-options {
  display: none;
}

header .header-info .header-action .form-control {
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #005cb6;
  border-radius: 0;
  color: #005cb6;
  font-size: 14px;
  line-height: 1;
}

header .header-info .header-action .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media (max-width: 767.98px) {
  header .header-info {
    display: none;
  }
}

header .sub-dropdown {
  display: none;
  position: absolute;
  margin-top: -20px;
  padding: 10px 20px 20px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.1);
          box-shadow: 0px 2px 2px 1px rgba(51, 51, 51, 0.1);
}

@media (max-width: 575.98px) {
  header .sub-dropdown {
    position: relative;
    top: 0;
    margin-top: 0;
  }
}

header .sub-dropdown ul {
  display: block !important;
  min-width: 210px;
}

header .sub-dropdown li {
  border-bottom: 1px solid #e6e6e6;
}

header .sub-dropdown li a {
  position: relative;
  text-transform: unset !important;
  padding: 10px 30px !important;
  font-size: 12px;
  color: #2d2a29 !important;
}

header .sub-dropdown li a:hover {
  color: #005cb6 !important;
}

header .sub-dropdown li a:hover::before {
  background-image: url("../images/icons/ic-ar-right-hover.png");
}

header .sub-dropdown li a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 9px;
  background-image: url("../images/icons/ic-ar-right.png");
  background-size: 100% 100%;
}

header .sub-dropdown li:first-child {
  border-top: 1px solid #e6e6e6;
}

header .header-bot .nav-menu {
  padding-left: 5px;
}

@media (max-width: 575.98px) {
  header .header-bot .nav-menu {
    max-height: 100vh;
    overflow-y: auto;
    padding-bottom: 100px;
  }
}

@media (max-width: 767.98px) {
  header .header-bot .nav-menu {
    display: none;
    width: 100%;
  }
}

header .header-bot .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  header .header-bot .nav-menu ul {
    padding: 20px 0;
    width: 100%;
    display: block;
  }
}

header .header-bot .nav-menu ul li a {
  display: inline-block;
  padding: 25px 20px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  header .header-bot .nav-menu ul li a {
    padding: 10px;
  }
}

header .header-bot .nav-menu ul li:hover a, header .header-bot .nav-menu ul li.active a {
  color: #005cb6;
}

@media (max-width: 767.98px) {
  header .header-bot .nav-menu ul li {
    width: 100%;
    text-align: center;
  }
}

header .btn-menu {
  position: absolute;
  width: 50px;
  height: 20px;
  right: 8px;
  top: 25px;
  color: #005cb6;
  border: 0;
  outline: 0;
  background: transparent;
  z-index: 9998;
  display: none;
}

@media (max-width: 767.98px) {
  header .btn-menu {
    display: block;
  }
}

@media (max-width: 575.98px) {
  header .btn-menu {
    top: 22px;
  }
}

header .btn-menu span {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #005cb6;
}

header .btn-menu span::before, header .btn-menu span::after {
  content: "";
  position: absolute;
  left: 0;
  top: -13px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #005cb6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .btn-menu span::after {
  top: 13px;
}

header .btn-menu.open span {
  background-color: transparent !important;
}

header .btn-menu.open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .btn-menu.open span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .nav-action {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 5px;
}

@media (min-width: 768px) {
  header .nav-action {
    display: none;
  }
}

header .nav-action a {
  position: relative;
  padding: 5px 15px;
  font-size: 14px;
  color: #005cb6;
  text-decoration: none;
  margin-left: 10px;
  z-index: 200;
  background-image: url("../images/common/bg_khungdangky.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header .nav-action .select-styled, header .nav-action .select-options {
  display: none !important;
}

header .nav-action .form-control {
  max-width: 200px;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #005cb6;
  border-radius: 0;
  color: #005cb6;
  font-size: 14px;
  line-height: 1;
}

header .nav-action .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

header.header-page {
  position: relative;
}

header.header-page .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.header-page .header-top {
  padding-top: 20px;
  padding-bottom: 70px;
}

header.header-page .header-logo {
  width: 80px;
}

header.header-page .header-info {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}

header.header-page .header-info .header-sub-title {
  font-size: 13px;
  padding-top: 10px;
  margin-bottom: 2px;
}

header.header-page .header-info .header-title {
  font-size: 17px;
}

/* End Header */
.icon-like {
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/ic-like.png");
  background-size: 100% 100%;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.ic-document {
  display: inline-block;
  width: 14px;
  height: 19px;
  background-image: url("../images/icons/ic-document.png");
  background-size: 100% 100%;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.ic-thuoctinh {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/icons/ic-thuoctinh.png");
  background-size: 100% 100%;
}

.ic-vb {
  display: inline-block;
  width: 12px;
  height: 15px;
  background-image: url("../images/icons/ic-vb.png");
  background-size: 100% 100%;
}

.ic-luocdo {
  display: inline-block;
  width: 16px;
  height: 14px;
  background-image: url("../images/icons/ic-luocdo.png");
  background-size: 100% 100%;
}

.ic-taive {
  display: inline-block;
  width: 15px;
  height: 11px;
  background-image: url("../images/icons/ic-taive.png");
  background-size: 100% 100%;
}

.footer {
  padding-top: 30px;
  border-top: 1px solid #2773c0;
  background-image: url("../images/common/bg_footer.png");
  background-size: cover;
  background-position: center;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .footer-content {
    display: block;
  }
}

.footer-content .footer-logo {
  margin-right: 10px;
}

@media (max-width: 575.98px) {
  .footer-content .footer-logo {
    margin-bottom: 20px;
    display: none;
  }
  .footer-content .footer-logo img {
    width: 50px;
  }
}

.footer-content .footer-title {
  margin-right: 90px;
  line-height: 16px;
}

@media (max-width: 575.98px) {
  .footer-content .footer-title {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer-content .footer-title .sub-title {
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.footer-content .footer-title .title {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.footer-content .footer-contact {
  color: #fff;
  font-size: 11px;
  line-height: 16px;
}

@media (max-width: 575.98px) {
  .footer-content .footer-contact {
    margin-bottom: 10px;
  }
}

.footer .copyright {
  padding-bottom: 20px;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 575.98px) {
  .footer .copyright {
    text-align: left;
  }
}

.footer.footer-page {
  padding: 0;
}

.footer.footer-page .container-ft {
  max-width: 1360px;
  margin: 0 auto;
}

.footer.footer-page .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1400px) {
  .footer.footer-page .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    justify-self: flex-start;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer.footer-page .footer-content .ft-left {
    margin-right: 0px;
  }
}

.footer.footer-page .ft-left {
  font-size: 11px;
  color: #fff;
  margin-right: 90px;
}

@media (max-width: 575.98px) {
  .footer.footer-page .ft-left {
    font-size: 10px;
  }
}

.footer.footer-page .ft-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer.footer-page .ft-right .ic-home {
  margin: 10px 15px;
}

@media (max-width: 575.98px) {
  .footer.footer-page .ft-right {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
  }
  .footer.footer-page .ft-right .ic-home {
    margin: 10px 0px;
  }
}

.footer.footer-page .nav-ft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .footer.footer-page .nav-ft {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 575.98px) {
  .footer.footer-page .nav-ft li {
    width: 100%;
  }
}

.footer.footer-page .nav-ft li a {
  cursor: pointer;
  display: inline-block;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 575.98px) {
  .footer.footer-page .nav-ft li a {
    width: 100%;
    font-size: 10px;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
  }
}

.footer.footer-page .nav-ft li a:hover {
  text-decoration: unset;
  background-color: #0255a8;
}

.footer.footer-page .nav-ft li:first-child a {
  text-decoration: underline;
}

.footer.footer-page .nav-ft li:first-child a:hover {
  text-decoration: unset;
}

.footer.footer-page .nav-ft .ic-ardown {
  display: inline-block;
  width: 13px;
  height: 7px;
  background-image: url(../images/icons/ic-ardown.png);
  background-size: 100% 100%;
}

.footer.footer-page .nav-ft .ic {
  margin-left: 5px;
}

.footer.footer-page .nav-ft .dropdown {
  position: relative;
}

.footer.footer-page .nav-ft .dropdown .sub-dropdown {
  display: none;
  position: absolute;
  left: 0;
  bottom: 65px;
  background-color: #0255a8;
  min-width: 245px;
  z-index: 99999;
}

@media (max-width: 575.98px) {
  .footer.footer-page .nav-ft .dropdown .sub-dropdown {
    position: relative;
    top: 0;
    left: 0;
    bottom: unset;
  }
}

.footer.footer-page .nav-ft .dropdown .sub-dropdown.active {
  display: block;
}

.footer.footer-page .nav-ft .dropdown .sub-dropdown li a {
  padding: 18px 32px;
  text-decoration: unset;
  width: 100%;
  border-bottom: 1px solid #fff;
}

@media (max-width: 575.98px) {
  .footer.footer-page .nav-ft .dropdown .sub-dropdown li a {
    padding: 10px 15px;
  }
}

.footer.footer-page .nav-ft .dropdown .sub-dropdown li.active a, .footer.footer-page .nav-ft .dropdown .sub-dropdown li:hover a {
  text-decoration: underline;
}

.footer.footer-page .nav-ft .dropdown a.active .ic-ardown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer .ic-home {
  display: inline-block;
  width: 15px;
  height: 14px;
  background-image: url(../images/icons/ic-home.png);
  background-size: 100% 100%;
}

.form-chat {
  position: fixed;
  /* bottom: 170px; */
  right: 20px;
  z-index: 999999;
}

@media (max-width: 575.98px) {
  .form-chat {
    bottom: 20px;
    right: 10px;
    width: calc(100% - 20px);
  }
}

.form-chat .box {
  width: 358px;
  border: 2px solid #005cb6;
  border-radius: 6px;
  background-color: #fff;
}

@media (max-width: 575.98px) {
  .form-chat .box {
    max-width: 100%;
    width: 100%;
  }
  .form-chat .box .title {
    display: none;
  }
  .form-chat .box .open .title {
    display: block;
  }
}

.form-chat .box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-chat .box-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 28px;
  font-size: 20px;
  font-weight: bold;
  color: #2d2a29;
  cursor: pointer;
  text-decoration: unset;
}

@media (max-width: 575.98px) {
  .form-chat .box-header a {
    padding: 20px 30px;
    font-size: 16px;
  }
  .form-chat .box-header a .icon-chat {
    width: 34px;
    height: 25px;
  }
}

.form-chat .box-content {
  border-top: 1px solid #005cb6;
  display: none;
  min-height: 315px;
}

.form-chat .box-content.open {
  display: block;
}

.form-chat .box-body {
  min-height: 315px;
}

.form-chat .box-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 55px;
  border-top: 1px solid #005cb6;
}

.form-chat .box-footer form {
  height: 100%;
}

.form-chat .box-footer .form-chat-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  line-height: 1px;
}

.form-chat .box-footer .btn-chat {
  border-radius: 0;
  padding: 3px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #005cb6;
}

.form-chat .box-footer input {
  border: unset;
  min-width: 250px;
  margin-right: 10px;
}

@media (max-width: 575.98px) {
  .form-chat .box-footer input {
    min-width: unset;
  }
}

.form-chat .box-footer input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
  outline: 0;
}

.form-chat .box-footer input ::-webkit-input-placeholder {
  /* Edge */
  color: #2d2a29;
}

.form-chat .box-footer input :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2d2a29;
}

.form-chat .box-footer input ::-ms-input-placeholder {
  color: #2d2a29;
}

.form-chat .box-footer input ::placeholder {
  color: #2d2a29;
}

.form-chat .icon-chat {
  width: 63px;
  height: 49px;
  background-image: url("../images/icons/ic-chat.png");
  background-size: 100% 100%;
  margin-left: 10px;
  position: absolute;
  right: 18px;
}

.breadcrumb {
  padding: 25px 0;
  background-color: unset;
  border-radius: unset;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0;
}

@media (max-width: 575.98px) {
  .breadcrumb {
    font-size: 14px;
  }
}

.breadcrumb-item a {
  color: #2d2a29;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  .breadcrumb-item a {
    font-size: 14px;
  }
}

.breadcrumb-item a:hover {
  color: #005cb6;
  text-decoration: unset;
}

.breadcrumb-item.active {
  color: #005cb6;
}

.breadcrumb-item + .breadcrumb-item::before {
  margin: 0 15px;
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  color: #6c757d;
  width: 6px;
  height: 11px;
  background-image: url("../images/icons/ic-muiten.png");
  background-size: 100% 100%;
  content: "";
}

.ic-home01 {
  display: inline-block;
  width: 15px;
  height: 13px;
  background-image: url("../images/icons/ic-home01.png");
  background-size: 100% 100%;
}

.ic-muiten {
  display: inline-block;
  width: 6px;
  height: 11px;
  background-image: url("../images/icons/ic-muiten.png");
  background-size: 100% 100%;
}

.ic-time {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../images/icons/ic-time.png");
  background-size: 100% 100%;
}

.ic-view {
  display: inline-block;
  width: 14px;
  height: 9px;
  background-image: url("../images/icons/ic-view.png");
  background-size: 100% 100%;
}

.ic-mail {
  display: inline-block;
  width: 31px;
  height: 28px;
  background-image: url("../images/icons/ic-mail.png");
  background-size: 100% 100%;
}

.ic-phone {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("../images/icons/ic-holine.png");
  background-size: 100% 100%;
}

.layout-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .layout-main {
    display: block;
  }
}

.layout-main .layout-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.layout-main .layout-sidebar {
  width: 280px;
  margin-left: 25px;
}

@media (max-width: 575.98px) {
  .layout-main .layout-sidebar {
    padding-bottom: 40px;
    margin-left: 0;
    width: 100%;
  }
}

.widget {
  margin-top: 78px;
}

.widget .title {
  padding: 5px 20px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  background-color: #005cb6;
  border-radius: 3px;
  margin-bottom: 5px;
}

.widget .box {
  padding: 20px 10px;
  border: 1px solid #bfc3c7;
  background-color: #ebf3fa;
}

.widget .select-box {
  padding: 17px 20px;
  color: #cccccc;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #bfc3c7;
  border-radius: 0;
  height: auto;
  outline: none !important;
}

@media (max-width: 575.98px) {
  .widget .select-box {
    padding: 10px 20px;
  }
}

.widget .select-box:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.widget .select-box.select-hidden {
  display: none;
}

.widget .select {
  width: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #cccccc;
}

.widget .select:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 575.98px) {
  .widget .select {
    font-size: 14px;
  }
}

.widget .select-styled {
  padding: 5px 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #bfc3c7;
  font-size: 14px;
  color: #808080;
}

@media (max-width: 575.98px) {
  .widget .select-styled {
    padding: 10px 20px;
  }
}

.widget .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #5b616a transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 12px;
}

@media (max-width: 575.98px) {
  .widget .select-styled:after {
    top: 20px;
  }
}

.widget .select-styled.active {
  border: 1px solid #005cb6;
}

.widget .select-styled.active:after {
  top: 10px;
  border-color: transparent transparent #5b616a transparent;
}

@media (max-width: 575.98px) {
  .widget .select-styled.active:after {
    top: 10px;
  }
}

.widget .select-options {
  font-size: 14px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px 20px;
}

.widget .select-options li {
  margin: 0;
  color: #5b616a;
}

.widget .select-options li:not(:last-child) {
  margin-bottom: 15px;
}

.widget .select-options li:hover {
  color: #005cb6;
  text-decoration: underline;
}

.widget .select-options li[rel="hide"] {
  display: none;
}

.widget.online {
  margin-top: 30px;
}

.widget.online .title {
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
}

.widget.online .text {
  color: #2d292a;
  margin-bottom: 15px;
}

.widget.online .online-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 25px;
  border: 1px solid #e2e4e7;
  background-color: #f4f8fc;
  margin-bottom: 10px;
}

.widget.online .online-item .phone {
  color: #606770;
  font-size: 27px;
  font-weight: bold;
  line-height: 1;
}

.widget.online .online-item .phone:hover {
  color: #005cb6;
  text-decoration: unset;
}

.widget.online .online-item .mail {
  font-size: 16px;
  color: #606770;
}

.widget.online .online-item .mail:hover {
  color: #005cb6;
  text-decoration: unset;
}

.widget.online .online-item .ic {
  margin-right: 20px;
}

.paging {
  padding-top: 60px;
}

.paging .page-item:not(:last-child) {
  margin-right: 5px;
}

.paging .page-item .page-link {
  border: 1px solid #696f77;
  border-radius: 0;
  color: #5b616a;
  font-size: 14px;
}
.modal.show .modal-dialog {
  top:50%;
  max-width: 400px;
}

/*# sourceMappingURL=style.css.map */
