.container-fuild {
  max-width: 1290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.setting-main {
  font-family: 'Arial', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 55px;
  margin-bottom: 180px;
}

@media (max-width: 992px) {
  .setting-main {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .setting-main {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .setting-main {
    display: block;
  }
}

.setting-main .setting-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.setting-main .setting-sidebar {
  width: 310px;
  margin-right: 20px;
}

@media (max-width: 992px) {
  .setting-main .setting-sidebar {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .setting-main .setting-sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.setting-main .setting-sidebar .profile {
  border: 1px solid #cccccc;
  text-align: center;
  padding: 35px 20px 15px 20px;
  margin-bottom: 20px;
}

.setting-main .setting-sidebar .profile .avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 auto;
}

.setting-main .setting-sidebar .profile .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
}

.setting-main .setting-sidebar .profile .name {
  color: #2d292a;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 575.98px) {
  .setting-main .setting-sidebar .profile .name {
    font-size: 16px;
  }
}

.setting-main .setting-sidebar .menu-bar {
  border: 1px solid #cccccc;
  padding: 35px 0px 35px 0px;
  font-size: 16px;
}

@media (max-width: 575.98px) {
  .setting-main .setting-sidebar .menu-bar {
    font-size: 14px;
  }
}

.setting-main .setting-sidebar .menu-bar .item {
  width: 100%;
}

.setting-main .setting-sidebar .menu-bar .item.active a, .setting-main .setting-sidebar .menu-bar .item:hover a {
  background-color: #005cb6;
  color: #fff;
}

.setting-main .setting-sidebar .menu-bar a {
  display: block;
  padding: 11px 20px;
  color: #2d292a;
  text-decoration: none;
}

.setting-main .history {
  min-height: 100%;
  border: 1px solid #cccccc;
}

.setting-main .history-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 10px 15px 25px;
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 575.98px) {
  .setting-main .history-head {
    padding: 10px;
  }
}

.setting-main .history-head .title {
  font-size: 18px;
  font-weight: bold;
  color: #2d292a;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .setting-main .history-head .title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.setting-main .history-head .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 575.98px) {
  .setting-main .history-head .search {
    width: 100%;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

.setting-main .history-head .search .form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
}

@media (max-width: 575.98px) {
  .setting-main .history-head .search .form {
    padding-left: 0;
  }
}

.setting-main .history-head .search .form-control {
  background-color: #fff;
}

.setting-main .history-head .search .input-group {
  max-width: 490px;
}

.setting-main .history-head .search .input-group.md-form input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
}

.setting-main .history-head .search .input-group.md-form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border: 1px solid #cccccc;
}

.setting-main .history-head .search .input-group.md-form input:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.setting-main .history-head .search .input-group-text {
  color: #005cb6;
  background-color: #eaf3fa;
  cursor: pointer;
}

.setting-main .history-box {
  padding: 25px;
}

@media (max-width: 575.98px) {
  .setting-main .history-box {
    padding: 10px;
    font-size: 14px;
  }
}

.setting-main .history-box:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.setting-main .history-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.setting-main .history-box .title .name {
  font-size: 16px;
  font-weight: bold;
  color: #005cb6;
}

.setting-main .history-box .title .date {
  font-size: 14px;
}

.setting-main .notice-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  padding: 20px 25px;
}

@media (max-width: 575.98px) {
  .setting-main .notice-box {
    padding: 10px;
  }
}

.setting-main .notice-box .name {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  color: #2d292a;
}

@media (max-width: 575.98px) {
  .setting-main .notice-box .name {
    width: 100%;
  }
}

.setting-main .notice-box .date {
  position: relative;
  width: 30%;
  font-size: 14px;
  text-align: right;
}

@media (max-width: 575.98px) {
  .setting-main .notice-box .date {
    width: 100%;
    text-align: left;
  }
  .setting-main .notice-box .date .icon {
    position: absolute;
    right: 10px;
  }
}

.setting-main .notice-box .icon {
  color: #005cb6;
  margin-left: 45px;
  cursor: pointer;
}

.setting-main .paging {
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
}

@media (max-width: 575.98px) {
  .setting-main .paging {
    font-size: 14px;
  }
}

.setting-main .paging .icon {
  font-size: 20px;
  color: #6c7177;
}

@media (max-width: 575.98px) {
  .setting-main .paging .icon {
    font-size: 14px;
  }
}

.setting-main .paging a {
  text-decoration: none;
}

.setting-main .update-tkdn {
  padding: 30px 35px;
  min-height: 100%;
  background-color: #eaf3fa;
}

@media (max-width: 575.98px) {
  .setting-main .update-tkdn {
    padding: 15px 10px;
  }
  .setting-main .update-tkdn input {
    margin-bottom: 10px;
  }
}

.setting-main .update-tkdn .title {
  font-size: 16px;
  font-weight: bold;
  color: #2d292a;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media (max-width: 575.98px) {
  .setting-main .update-tkdn .title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.setting-main .update-tkdn .box {
  background-color: #fff;
  margin-bottom: 15px;
}

.setting-main .update-tkdn .box-title {
  padding: 30px 25px 5px 25px;
  font-size: 14px;
  color: #005cb6;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}

.setting-main .update-tkdn .box-content {
  padding: 35px 15px 20px 0px;
}

@media (max-width: 575.98px) {
  .setting-main .update-tkdn .box-content {
    padding-right: 0;
  }
}

.setting-main .form {
  font-size: 12px;
  line-height: 20px;
}

.setting-main .form.dinhdanh .row {
  margin: 0 -15px;
}

.setting-main .form.dinhdanh .form-label {
  padding: 0 15px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}

.setting-main .form.dinhdanh .form-control {
  max-width: 500px;
}

.setting-main .form.dinhdanh .form-input {
  padding: 0 15px;
}

.setting-main .form .item {
  margin-bottom: 10px;
}

.setting-main .form .item .col-md-10 {
  padding-left: 2px;
}

.setting-main .form .row {
  margin: 0 -5px;
}

.setting-main .form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setting-main .form .form-label {
  padding: 0 5px;
  text-align: right;
  letter-spacing: 0px;
}

@media (max-width: 575.98px) {
  .setting-main .form .form-label {
    text-align: left;
  }
}

.setting-main .form .form-input {
  padding: 0 5px;
}

.setting-main .form .form-input input:hover, .setting-main .form .form-input input:focus, .setting-main .form .form-input select:hover, .setting-main .form .form-input select:focus {
  background-color: #cfdced;
}

.setting-main .form .form-control {
  border-radius: 0;
  border: 1px solid #d7e1eb;
  background-color: #f2f9ff;
  font-size: 14px;
  background-clip: unset;
  -webkit-transition: unset;
  transition: unset;
}

.setting-main .form .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.setting-main .form .check-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0;
}

.setting-main .form .custom-radio:not(:last-child) {
  margin-right: 30px;
}

.setting-main .form .custom-control-label {
  color: #5b616a;
  font-size: 12px;
  font-weight: bold;
}

.setting-main .form .custom-radio .custom-control-label::before {
  width: 15px;
  height: 15px;
  top: 3px;
  border-radius: 50%;
  border: 1px solid #bbbbbb;
  background-color: unset;
}

.setting-main .form .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  width: 15px;
  height: 15px;
  background-color: unset;
  border: 1px solid #005cb6;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.setting-main .form .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  top: 7px;
  left: 4px;
  width: 7px;
  height: 7px;
  background-image: unset;
  background-color: #005cb6;
  border-radius: 50%;
}

.setting-main .form .select-styled, .setting-main .form .select-options {
  display: none;
}

.setting-main .button {
  text-align: right;
}

.setting-main .btn-submit {
  margin-top: 30px;
  margin-right: 60px;
  color: #fff !important;
  background-color: #005cb6;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-weight: bold;
  min-width: 280px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .setting-main .btn-submit {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
}

.setting-main .btn-submit:hover {
  border: 1px solid #005cb6;
  background-color: #fff;
  color: #005cb6 !important;
}

.setting-main .file-upload input[type='file'] {
  display: none;
}

.setting-main .file-upload {
  margin-top: 10px;
  background-color: #cfdced;
  color: #2d292a;
  border: unset;
  max-width: 145px;
  font-size: 14px;
}

.setting-main .required {
  color: red;
}

.setting-main .level {
  min-height: 100%;
  border: 1px solid #cccccc;
}

.setting-main .level-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 10px 5px 25px;
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 575.98px) {
  .setting-main .level-head {
    padding: 10px;
  }
}

.setting-main .level-head .title {
  font-size: 18px;
  font-weight: bold;
  color: #5a6169;
}

@media (max-width: 575.98px) {
  .setting-main .level-head .title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.setting-main .level-box {
  padding: 25px;
}

@media (max-width: 768px) {
  .setting-main .level-box {
    padding: 10px;
  }
}

.setting-main .level-box .title {
  color: #005cb6;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.setting-main .level-box .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 575.98px) {
  .setting-main .level-box .form-box {
    display: block;
  }
}

.setting-main .level-box .form-box .form-label {
  text-align: right;
  max-width: 170px;
  margin-right: 20px;
}

@media (max-width: 575.98px) {
  .setting-main .level-box .form-box .form-label {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: left;
  }
}

.setting-main .level-box .form-box .select-styled, .setting-main .level-box .form-box .select-options {
  display: none;
}

.setting-main .level-box .form-box select {
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  border-radius: unset;
  min-width: 250px;
}

.setting-main .level-box .form-box select:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.setting-main .level-box .form-box option {
  background-color: #fff;
}

.setting-main .level-box .select-styled, .setting-main .level-box .select-options {
  display: none;
}

.setting-main .level-box .txt-b {
  font-size: 14px;
  font-weight: bold;
  color: #5a6169;
  margin-bottom: 10px;
}

.setting-main .level-box .txt-info {
  margin-top: 30px;
}

.setting-main .level-box select {
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  border-radius: unset;
}

.setting-main .level-box select:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.setting-main .level-box .file-title {
  color: #005cb6;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .setting-main .level-box .file-title {
    margin-top: 20px;
  }
}

.setting-main .level-box .list-file .list-file-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .setting-main .level-box .list-file .list-file-title {
    display: block;
  }
}

@media (max-width: 768px) {
  .setting-main .level-box .list-file .list-file-title .number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.setting-main .level-box .list-file .list-file-title .number span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #005cb6;
  border-radius: 50%;
  margin-right: 20px;
}

.setting-main .level-box .list-file .list-file-title .text {
  color: #5a6169;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 7px;
}

@media (max-width: 768px) {
  .setting-main .level-box .list-file .list-file-title .text {
    width: 100%;
  }
}

.setting-main .level-box .list-file .list-file-title .text p {
  margin-bottom: 10px;
}

.setting-main .level-box .list-file .list-file-title .text a {
  color: #005cb6;
  text-decoration: underline;
}

.setting-main .level-box .list-file .list-file-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 60px;
}

@media (max-width: 768px) {
  .setting-main .level-box .list-file .list-file-box {
    padding: 10px 0;
  }
}

.setting-main .level-box .list-file .list-file-box .box-item {
  padding: 20px;
  width: 100%;
  max-width: 320px;
  text-align: center;
  border: 1px solid #e5eaf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 180px;
}

@media (max-width: 768px) {
  .setting-main .level-box .list-file .list-file-box .box-item {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.setting-main .level-box .list-file .list-file-box .box-item.image {
  padding: 0;
  border: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

.setting-main .level-box .list-file .list-file-box .box-item.image img {
  margin-left: 80px;
}

.setting-main .level-box .list-file .list-file-box .box-item-title {
  color: #5a6169;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.setting-main .level-box .list-file .list-file-box .box-item .file-upload {
  max-width: unset;
  background-color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}

.setting-main .level-box .list-file .list-file-box .box-item .icon {
  font-size: 46px;
  color: #cfdced;
  margin-right: 30px;
}

.setting-main .level-box .button-group {
  position: relative;
  margin-left: 20px;
  top: -15px;
}

@media (max-width: 768px) {
  .setting-main .level-box .button-group {
    top: 0;
    margin-left: 0;
  }
}

.setting-main .level-box .button-group .btn {
  padding: 10px 20px;
  display: inline-block;
  background-color: #f2f9ff;
  border: 1px solid #cedced;
  color: #5a6169 !important;
  font-size: 14px;
  text-decoration: unset !important;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .setting-main .level-box .button-group .btn {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.setting-main .level-box .button-group .btn.active {
  background-color: #005cb6;
  color: #fff !important;
}

.setting-main .level-box .btn-submit {
  min-width: 180px;
  margin-left: 60px;
}

.setting-main .level-box .btn-submit.btn-up {
  margin-left: 0;
}

.setting-main .level-box .btn-submit.btn-save {
  width: 100%;
  margin-left: 0;
}

.setting-main .level-box .btn-submit.btn-add {
  margin-top: 0;
  margin-left: 0;
  display: inline-block;
  min-width: 200px;
}

@media (max-width: 768px) {
  .setting-main .level-box .btn-submit {
    min-width: unset;
    margin-left: 0;
  }
}

.setting-main .save-title {
  font-size: 18px;
  font-weight: bold;
  color: #5a6169;
  margin-bottom: 30px;
}

.setting-main .table {
  margin-top: 20px;
}

.setting-main .table td {
  padding: 8px;
  text-align: center;
  font-size: 14px;
  color: #5a6169;
  vertical-align: middle;
}

.setting-main .table td .icon {
  margin-left: 5px;
}
/*# sourceMappingURL=users.css.map */