<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{ src: 'assets/img/brand/logo-vp.svg', width: 100, height: 50, alt: 'CoreUI Logo' }"
  [navbarBrandMinimized]="{ src: 'assets/img/brand/logo-vp.svg', width: 100, height: 50, alt: 'CoreUI Logo' }"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link font-weight-bold" href="#">{{ 'report' | translate }}</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a
        class="nav-link"
        data-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
        dropdownToggle
        (click)="(false)"
      >
        <img src="assets/img/avatars/avatar.png" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Tài khoản</strong></div>
        <a (click)="logout()" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <!--    <app-sidebar-minimizer></app-sidebar-minimizer>-->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb> </cui-breadcrumb>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<app-footer>
  <span>LTVB &copy; 2022</span>
</app-footer>
