<nz-card [nzBordered]="false">
  <nz-form-item>
    <button nz-button (click)="openCreateUpdate(false)" [nzType]="'primary'">
      <span>{{ 'button.add' | translate }}</span>
    </button>
  </nz-form-item>

  <div class="form-horizontal">
    <div class="form-group row">
      <label class="col-md-2 col-form-label">Tên lịch</label>
      <div class="col-md-4">
        <nz-select
          [nzNotFoundContent]="'Không có dữ liệu'"
          [(ngModel)]="search.jobName"
          name="jobName"
          [nzPlaceHolder]="'Tên lịch'"
          [nzShowSearch]="true"
          [nzDisabled]="onDetail"
          style="width: 100%"
        >
          <nz-option [nzLabel]="item.jobName" [nzValue]="item.id" *ngFor="let item of listJob"></nz-option>
        </nz-select>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12" style="text-align: center">
        <button (click)="getPage(1, PAGE_SIZE)" nz-button type="text" [nzType]="'primary'" [nzLoading]="loading">
          {{ 'button.search' | translate }}
        </button>
        <button (click)="search = { jobName: '' }; getPage(1, PAGE_SIZE)" nz-button type="text" [nzType]="'default'" [nzLoading]="loading">
          {{ 'button.reset' | translate }}
        </button>
      </div>
    </div>
  </div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzNoResult]="'Không có dữ liệu'"
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th style="width: 10%">Tên lịch</th>
        <th style="width: 5%">Trạng thái</th>
        <th style="width: 5%">Kiểu lặp lại</th>
        <th style="width: 10%">Thời gian</th>
        <th style="width: 20%">{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td>{{ fetchName(data.jobName) }}</td>
          <td>{{ data.map[0].jobStatus }}</td>
          <td>{{ fetchTypeSyncName(data.typeSyn) }}</td>
          <td *ngIf="data.typeSyn === 'THANG'">{{ data.time }} ngày {{ data.dayOfMonth }} hàng tháng</td>
          <td *ngIf="data.typeSyn === 'TUAN'">
            {{ data.time }}
            {{
              data.dayOfWeek === 2
                ? 'thứ 2'
                : data.dayOfWeek === 3
                ? 'thứ 3'
                : data.dayOfWeek === 4
                ? 'thứ 4'
                : data.dayOfWeek === 5
                ? 'thứ 5'
                : data.dayOfWeek === 6
                ? 'thứ 6'
                : data.dayOfWeek === 7
                ? 'thứ 7'
                : data.dayOfWeek === 1
                ? 'chủ nhật'
                : ''
            }}
            hàng tuần
          </td>
          <td *ngIf="data.typeSyn === 'NGAY'">{{ data.time }} hàng ngày</td>
          <td *ngIf="data.typeSyn === 'THOIGIAN'">
            Mỗi {{ data.time }}
            {{ data.unit === 'gio' ? 'giờ' : data.unit === 'phut' ? 'phút' : data.unit === 'ngay' ? 'giờ hằng ngày' : '' }}
          </td>
          <td>
            <!--<button class="btn btn-primary" (click)="openCreateUpdate(false, data)">Chi tiết</button>-->
            <button nz-button [nzType]="'primary'" (click)="openCreateUpdate(true, data)">Cập nhật</button>
            <button nz-button [nzType]="'danger'" *ngIf="data.map[0].jobState == 'RUNNING'" (click)="id_run = data.id; stopModal.show()">
              Tạm dừng
            </button>
            <button nz-button [nzType]="'danger'" *ngIf="data.map[0].jobState == 'PAUSED'" (click)="id_stop = data.id; runModal.show()">
              Tiếp tục
            </button>
            <button nz-button [nzType]="'danger'" (click)="id_delete = data.id; dangerModal.show()">Xóa</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getPage($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>

  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <nz-spin [nzSpinning]="loading_delete">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ 'table.action.delete' | translate }}</h4>
            <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ 'message.change.delete' | translate }}</p>
          </div>
          <div class="modal-footer">
            <button nz-button [nzType]="'default'" (click)="dangerModal.hide()">{{ 'button.close' | translate }}</button>
            <button nz-button [nzType]="'danger'" (click)="performDelete(id_delete)">{{ 'button.ok' | translate }}</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </nz-spin>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div bsModal #stopModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <nz-spin [nzSpinning]="loading_delete">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ 'table.action.delete' | translate }}</h4>
            <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn có chắc muốn tạm dừng</p>
          </div>
          <div class="modal-footer">
            <button nz-button [nzType]="'default'" (click)="stopModal.hide()">{{ 'button.close' | translate }}</button>
            <button nz-button [nzType]="'danger'" (click)="performStop(id_stop)">{{ 'button.ok' | translate }}</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </nz-spin>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div bsModal #runModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
      <nz-spin [nzSpinning]="loading_delete">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ 'table.action.delete' | translate }}</h4>
            <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Bạn có chắc muốn tiếp tục chạy</p>
          </div>
          <div class="modal-footer">
            <button nz-button [nzType]="'default'" (click)="runModal.hide()">{{ 'button.close' | translate }}</button>
            <button nz-button [nzType]="'danger'" (click)="performRun(id_run)">{{ 'button.ok' | translate }}</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </nz-spin>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</nz-card>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzAutofocus]="'auto'"
  nzWidth="1080px"
  [nzStyle]="{ top: '30px' }"
  (nzTitle)="(titleModal)"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <h4 class="mb-3">{{ titleModal }}</h4>
    <form nz-form [formGroup]="form" se-container="1" labelWidth="200">
      <se label="Tên lịch" required>
        <nz-select
          [nzNotFoundContent]="'Không có dữ liệu'"
          formControlName="jobName"
          [nzPlaceHolder]="'Tên lịch'"
          [nzShowSearch]="true"
          [nzDisabled]="onDetail"
        >
          <nz-option [nzLabel]="item.jobName" [nzValue]="item.id" *ngFor="let item of listJob"></nz-option>
        </nz-select>
      </se>

      <se label="Kiểu lặp lại" required>
        <nz-form-control>
          <nz-select
            [nzNotFoundContent]="'Không có dữ liệu'"
            formControlName="typeSyn"
            [nzPlaceHolder]="'Kiểu lặp lại'"
            [nzShowSearch]="true"
            [nzDisabled]="onDetail"
            (ngModelChange)="refreshChangeType()"
          >
            <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of syncTypes"></nz-option>
          </nz-select>
        </nz-form-control>
      </se>

      <se label="Chọn thứ" *ngIf="form.value.typeSyn === 'TUAN'" required>
        <nz-form-control>
          <nz-select
            [nzNotFoundContent]="'Không có dữ liệu'"
            formControlName="dayOfWeek"
            [nzPlaceHolder]="'Thứ'"
            [nzShowSearch]="true"
            [nzDisabled]="onDetail"
          >
            <nz-option [nzValue]="item.value" [nzLabel]="item.label" *ngFor="let item of daysInWeek"></nz-option>
          </nz-select>
        </nz-form-control>
      </se>

      <se label="Chọn ngày" *ngIf="form.value.typeSyn === 'THANG'" required>
        <nz-form-control>
          <nz-select
            [nzNotFoundContent]="'Không có dữ liệu'"
            formControlName="dayOfMonth"
            [nzPlaceHolder]="'Ngày'"
            [nzShowSearch]="true"
            [nzDisabled]="onDetail"
          >
            <nz-option [nzLabel]="i + 1" [nzValue]="i + 1" *ngFor="let item of [].constructor(28); let i = index"> </nz-option>
          </nz-select>
        </nz-form-control>
      </se>

      <se label="Chọn đơn vị thời gian" *ngIf="form.value.typeSyn === 'THOIGIAN'" required>
        <nz-select
          [nzNotFoundContent]="'Không có dữ liệu'"
          formControlName="unit"
          [nzPlaceHolder]="'Đơn vị thời gian'"
          [nzShowSearch]="true"
          [nzDisabled]="onDetail"
        >
          <nz-option [nzLabel]="item.label" [nzValue]="item.value" *ngFor="let item of timeUnits"></nz-option>
        </nz-select>
      </se>

      <se
        label="Thời gian"
        *ngIf="
          (form.value.typeSyn === 'THANG' && form.value.dayOfMonth != null) ||
          (form.value.typeSyn === 'TUAN' && form.value.dayOfWeek != null) ||
          form.value.typeSyn === 'NGAY'
        "
        required
      >
        <nz-form-control>
          <nz-form-control nzErrorTip="Thời gian không được bỏ trống.">
            <input nz-input type="time" formControlName="time" placeholder="Thời gian" [readOnly]="onDetail" />
          </nz-form-control>
        </nz-form-control>
      </se>

      <se
        label="Giá trị thời gian"
        *ngIf="form.value.typeSyn === 'THOIGIAN' && form.value.unit !== undefined && form.value.unit !== null"
        required
      >
        <nz-form-control nzErrorTip="Giá trị thời gian không được bỏ trống.">
          <nz-input-number
            nz-input
            type="number"
            [nzMin]="0"
            [nzMax]="23"
            formControlName="time"
            placeholder="Giá trị thời gian"
            [required]="true"
            [nzDisabled]="onDetail"
          ></nz-input-number>
        </nz-form-control>
      </se>

      <ng-container *ngIf="!onDetail">
        <se class="text-center">
          <button
            nz-button
            [nzType]="'primary'"
            *ngIf="itemUpdate === null"
            [disabled]="form.invalid"
            type="button"
            [nzLoading]="submitting"
            (click)="submit()"
          >
            Thêm
          </button>
          <button
            nz-button
            [nzType]="'primary'"
            *ngIf="itemUpdate !== null"
            [disabled]="form.invalid"
            type="button"
            [nzLoading]="submitting"
            (click)="submit()"
          >
            Sửa
          </button>
          <button nz-button [nzType]="'default'" (click)="handleCancel()">Hủy</button>
        </se>
      </ng-container>
    </form>
  </ng-container>
  <div *nzModalFooter></div>
</nz-modal>
