<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <h2 *ngIf="id == null">{{ 'header.title.add' | translate }}</h2>
    <h2 *ngIf="id != null">{{ 'header.title.edit' | translate }}</h2>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'table.agency.centerCode' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input
        *ngIf="id == null"
        #groupName
        nz-input
        formControlName="pcode"
        placeholder="Mã trung tâm liên thông của tỉnh Vĩnh Phúc (00.62.W00)"
      />
      <input
        *ngIf="id != null"
        #groupName
        nz-input
        formControlName="pcode"
        placeholder="Mã trung tâm liên thông của tỉnh Vĩnh Phúc (00.62.W00)"
        [readonly]="true"
      />
    </se>
    <se label="{{ 'code.agency' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input *ngIf="id == null" #groupName nz-input formControlName="code" placeholder="Mã đơn vị đăng ký liên thông" />
      <input *ngIf="id != null" #groupName nz-input formControlName="code" placeholder="Mã đơn vị đăng ký liên thông" [readonly]="true" />
    </se>
    <se label="{{ 'name.agency' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input #groupName nz-input formControlName="name" placeholder="Tên đơn vị đăng ký liên thông" />
    </se>
    <se label="{{ 'email' | translate }}">
      <input #groupName nz-input formControlName="email" placeholder="Email đơn vị đăng ký liên thông" />
    </se>
    <se label="{{ 'form.user.phoneNumber' | translate }}">
      <input #groupName nz-input formControlName="mobile" placeholder="Số điện thoại đơn vị đăng ký liên thông" />
    </se>
    <se label="{{ 'fax' | translate }}">
      <input #groupName nz-input formControlName="fax" placeholder="Số fax đơn vị đăng ký liên thông" />
    </se>

    <div nz-col [nzSpan]="24" class="text-center">
      <se>
        <button
          *ngIf="id == null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.add' | translate }}
        </button>
        <button
          *ngIf="id != null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.edit' | translate }}
        </button>
        <button (click)="back()" nz-button nzSize="default" class="ml-sm">{{ 'button.back' | translate }}</button>
      </se>
    </div>
  </form>
</nz-card>
