<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'form.param.name' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input [readOnly]="id" nz-input formControlName="name" placeholder="" />
    </se>

    <se label="{{ 'form.param.value' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="value" placeholder="" />
    </se>

    <se label="{{ 'form.param.description' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="description" placeholder="" />
    </se>

    <se>
      <button
        *ngIf="id == null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.add' | translate }}
      </button>
      <button
        *ngIf="id != null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.edit' | translate }}
      </button>
      <button (click)="back()" nz-button class="ml-sm">{{ 'button.back' | translate }}</button>
    </se>
  </form>
</nz-card>
