<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'horizontal'" (ngSubmit)="getData(0, PAGE_SIZE)" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="jobName">{{ 'edoc.jobName' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="search.jobName" name="jobName" [nzPlaceHolder]="''" [nzShowSearch]="true">
              <nz-option *ngFor="let i of listjobName; let idx = index" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="status">{{ 'status' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="search.status" name="status" [nzPlaceHolder]="''" [nzShowSearch]="true">
              <nz-option *ngFor="let i of listStatus; let idx = index" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="fromDate">{{ 'log.fromDate' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              style="width: 100%"
              [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
              name="fromDate"
              [(ngModel)]="search.fromDate"
              nzPlaceHolder="{{ 'picker.nzPlaceHolder' | translate }}"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="toDate">{{ 'log.toDate' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              style="width: 100%"
              [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
              name="toDate"
              [(ngModel)]="search.toDate"
              nzPlaceHolder="{{ 'picker.nzPlaceHolder' | translate }}"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-col [nzSpan]="24" class="text-center">
      <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'button.search' | translate }}</button>
      <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'button.reset' | translate }}</button>
    </div>
  </form>

  <div class="my-md"></div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>{{ 'edoc.jobName' | translate }}</th>
        <th>{{ 'status' | translate }}</th>
        <th>{{ 'edoc.response' | translate }}</th>
        <th>{{ 'edoc.timeSync' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td *ngIf="data.syncName == 'EDOC'">{{ 'sync.edoc' | translate }}</td>
          <td *ngIf="data.syncName == 'STATUS'">{{ 'sync.status' | translate }}</td>
          <td *ngIf="data.syncName == 'AGENCY'">{{ 'sync.agency' | translate }}</td>
          <td>{{ data.description }}</td>
          <td>{{ data.response }}</td>
          <td>{{ data.createdTimeStr }}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getData($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>
</nz-card>
