<nz-card [nzBordered]="false">
  <nz-form-item>
    <button [acl]="role_add" nz-button (click)="add()" [nzType]="'primary'">
      <!--<i nz-icon nzType="plus"></i>-->
      <span>{{ 'button.add' | translate }}</span>
    </button>
  </nz-form-item>

  <form nz-form [nzLayout]="'horizontal'" (ngSubmit)="getData(0, PAGE_SIZE)" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="rightName">{{ 'search.rightName' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.name" name="rightName" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="status">{{ 'search.status' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="search.status" name="status" id="status" [nzPlaceHolder]="''" [nzShowSearch]="true">
              <nz-option *ngFor="let i of status; let idx = index" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="description">{{ 'search.description' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input name="description" [(ngModel)]="search.description" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24" class="text-center">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'button.search' | translate }}</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'button.reset' | translate }}</button>
        <!--<a (click)="expandForm = !expandForm">
          {{ expandForm ? 'Đóng' : 'Mở' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>-->
      </div>
    </div>
  </form>

  <ng-container *ngIf="setOfCheckedId.size > 0">
    <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
      {{ 'button.action.munti' | translate }}
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #batchMenu="nzDropdownMenu">
      <ul nz-menu>
        <li [acl]="role_edit" nz-menu-item (click)="lockList()">{{ 'table.action.lock' | translate }}</li>
        <li [acl]="role_edit" nz-menu-item (click)="unlockList()">{{ 'table.action.unlock' | translate }}</li>
        <li [acl]="role_delete" nz-menu-item (click)="removeList()">{{ 'button.delete' | translate }}</li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>

  <div class="my-md"></div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="true"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>{{ 'table.right.rightName' | translate }}</th>
        <th>{{ 'table.right.description' | translate }}</th>
        <th>{{ 'table.right.status' | translate }}</th>
        <th>{{ 'createBy' | translate }}</th>
        <th>{{ 'createTime' | translate }}</th>
        <th>{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td
            [nzIndentSize]="data.level! * 20"
            [nzShowExpand]="data.children"
            [(nzExpand)]="data.expand"
            (nzExpandChange)="collapse(data, idx, $event)"
          >
            {{ data.name }}
          </td>
          <td>{{ data.description }}</td>
          <td>{{ data.statusStr }}</td>
          <td>{{ data.createBy }}</td>
          <td>{{ data.createTimeStr }}</td>
          <td>
            <a [acl]="role_edit" (click)="edit(data)">{{ 'table.action.edit' | translate }}</a>
            <nz-divider [acl]="role_edit" nzType="vertical"></nz-divider>

            <a *ngIf="data.status == status_active" [acl]="role_edit" (click)="lock(data)">{{ 'table.action.lock' | translate }}</a>
            <nz-divider *ngIf="data.status == status_active" [acl]="role_edit" nzType="vertical"></nz-divider>

            <a *ngIf="data.status == status_lock" [acl]="role_edit" (click)="unlock(data)">{{ 'table.action.unlock' | translate }}</a>
            <nz-divider *ngIf="data.status == status_lock" [acl]="role_edit" nzType="vertical"></nz-divider>

            <a [acl]="role_delete" (click)="remove(data)">{{ 'table.action.delete' | translate }}</a>
          </td>
        </tr>

        <ng-container *ngFor="let item of data.children">
          <tr>
            <td [nzChecked]="setOfCheckedId.has(item.id)" (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
            <td [nzIndentSize]="20">
              {{ item.name }}
            </td>
            <td>{{ item.description }}</td>
            <td>{{ item.statusStr }}</td>
            <td>{{ item.createBy }}</td>
            <td>{{ item.createTimeStr }}</td>
            <td>
              <a [acl]="role_edit" (click)="edit(item)">{{ 'table.action.edit' | translate }}</a>
              <nz-divider [acl]="role_edit" nzType="vertical"></nz-divider>

              <a *ngIf="item.status == status_active" [acl]="role_edit" (click)="lock(item)">{{ 'table.action.lock' | translate }}</a>
              <nz-divider *ngIf="item.status == status_active" [acl]="role_edit" nzType="vertical"></nz-divider>

              <a *ngIf="item.status == status_lock" [acl]="role_edit" (click)="unlock(item)">{{ 'table.action.unlock' | translate }}</a>
              <nz-divider *ngIf="item.status == status_lock" [acl]="role_edit" nzType="vertical"></nz-divider>

              <a [acl]="role_delete" (click)="remove(item)">{{ 'table.action.delete' | translate }}</a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getData($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>
</nz-card>
