<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'horizontal'" [formGroup]="formDetail">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="organName">{{ 'edoc.to' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="organName" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="toOrganId">{{ 'code.agency' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="toOrganId" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="codeCodeNumber">{{ 'edoc.codeNumber' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="codeCodeNumber" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="codeCodeNotation">{{ 'edoc.codeNotation' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="codeCodeNotation" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="promulgationInfoPlace">{{ 'edoc.code.place' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="promulgationInfoPlace" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="promulgationInfoDate">{{ 'edoc.code.PromulgationDate' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="promulgationInfoDate" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="documentType">{{ 'edoc.type' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input *ngIf="formDetail.value.documentType == 2" value="Văn bản hành chính" readonly="'true'" />
            <input nz-input *ngIf="formDetail.value.documentType == 1" value="Văn bản quy phạm pháp luật" readonly="'true'" />
            <input nz-input *ngIf="formDetail.value.documentType == 0" value="Không xác định" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="documentTypeName">{{ 'edoc.typeName' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="documentTypeName" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="dueDate">{{ 'edoc.dueDate' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="dueDate" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="steeringType">{{ 'edoc.steeringType' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input *ngIf="formDetail.value.steeringType == 0" readonly="'true'" value="Không phải là chỉ đạo : 0 " />
            <input nz-input *ngIf="formDetail.value.steeringType == 1" readonly="'true'" value="Chỉ đạo : 1 " />
            <input nz-input *ngIf="formDetail.value.steeringType == 2" readonly="'true'" value="Báo cáo chỉ đạo : 2 " />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="docId">{{ 'edoc.docId' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="docId" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="documentId">{{ 'edoc.documentId' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="documentId" readonly="'true'" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="formControlName">{{ 'edoc.toPlaces' | translate }}</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="toPlaces" readonly="'true'"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="subject">{{ 'edoc.subject' | translate }}</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="subject" readonly="'true'"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="content">{{ 'edoc.content' | translate }}</nz-form-label>
          <nz-form-control>
            <textarea nz-input formControlName="content" readonly="'true'"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-col [nzSpan]="24" class="text-center">
      <button (click)="back()" nz-button nzSize="default" class="ml-sm">{{ 'button.back' | translate }}</button>
    </div>
  </form>
</nz-card>
