<nz-card [nzBordered]="false">
  <nz-form-item>
    <button nz-button (click)="add()" [nzType]="'primary'">
      <span>{{ 'button.add' | translate }}</span>
    </button>
  </nz-form-item>

  <form nz-form [nzLayout]="'horizontal'" (ngSubmit)="getData(0, PAGE_SIZE)" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="code">{{ 'code.agency' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.code" name="code" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="name">{{ 'name.agency' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.name" name="name" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24" class="text-center">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'button.search' | translate }}</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'button.reset' | translate }}</button>
      </div>
    </div>
  </form>

  <div class="my-md"></div>
  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzNoResult]="'Không có dữ liệu'"
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="false"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>{{ 'app.code' | translate }}</th>
        <th>{{ 'app.name' | translate }}</th>
        <th>{{ 'app.manage' | translate }}</th>
        <th>{{ 'createTime' | translate }}</th>
        <th>{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.appCode }}</td>
          <td>{{ data.appName }}</td>
          <td>{{ data.manage }}</td>
          <td>{{ data.createdDateStr }}</td>
          <td>
            <button nz-button (click)="edit(data)" [nzType]="'primary'">
              <span>{{ 'button.edit' | translate }}</span>
            </button>
            <button nz-button (click)="remove(data)" [nzType]="'danger'">
              <span>{{ 'button.delete' | translate }}</span>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getData($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  >
  </nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>
</nz-card>
