<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'form.group.groupName' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input #groupName nz-input formControlName="groupName" placeholder="" />
    </se>
    <se label="{{ 'form.group.description' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input #description nz-input formControlName="description" type="text" placeholder="" />
    </se>

    <div nz-col class="gutter-row" [nzSpan]="2">
      <!--<button (click)="expand();" nz-button nzType="default" nzSize="small" type="button">
        Expand all
      </button>-->
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-tree
        [nzExpandAll]="nzExpandAll"
        [nzData]="authority"
        [nzSelectedKeys]="keys"
        [nzCheckedKeys]="keys"
        nzCheckable
        (nzClick)="nzEvent($event)"
        (nzExpandChange)="nzEvent($event)"
        (nzCheckBoxChange)="nzEvent($event)"
        ><!--nzMultiple-->
      </nz-tree>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
      <se>
        <button
          *ngIf="id == null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.add' | translate }}
        </button>
        <button
          *ngIf="id != null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.edit' | translate }}
        </button>
        <button (click)="back()" nz-button nzSize="default" class="ml-sm">{{ 'button.back' | translate }}</button>
      </se>
    </div>
  </form>
</nz-card>
