<script src="../report-routing.module.ts"></script>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'horizontal'" (ngSubmit)="getData(0, PAGE_SIZE)" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="name">{{ 'edoc.to' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.name" name="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="code">{{ 'edoc.code.number' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="search.code" name="code" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="fromDate">{{ 'edoc.fromDate' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              style="width: 100%"
              [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
              name="fromDate"
              [(ngModel)]="search.fromDate"
              nzPlaceHolder="{{ 'edoc.fromDate' | translate }}"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="toDate">{{ 'edoc.toDate' | translate }}</nz-form-label>
          <nz-form-control>
            <nz-date-picker
              style="width: 100%"
              [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
              name="toDate"
              [(ngModel)]="search.toDate"
              nzPlaceHolder="{{ 'edoc.toDate' | translate }}"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-col [nzSpan]="24" class="text-center">
      <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">{{ 'button.search' | translate }}</button>
      <button nz-button type="reset" (click)="reset()" class="mx-sm">{{ 'button.reset' | translate }}</button>
    </div>
  </form>

  <div class="my-md"></div>

  <nz-table
    #rowSelectionTable
    nzShowPagination
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzData]="data"
    [nzLoading]="loading"
    [nzBordered]="false"
    [nzShowPagination]="false"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    [nzScroll]="{ x: 'auto' }"
  >
    <thead>
      <tr>
        <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
        <th>{{ 'edoc.to' | translate }}</th>
        <th>{{ 'edoc.code.number' | translate }}</th>
        <th>{{ 'edoc.code.PromulgationDate' | translate }}</th>
        <th>{{ 'edoc.BussinessDocType' | translate }}</th>
        <th>{{ 'status' | translate }}</th>
        <th>{{ 'edoc.timeResponse' | translate }}</th>
        <th>{{ 'action' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.organName }}</td>
          <td>{{ data.codeCodeNumber }}/{{ data.codeCodeNotation }}</td>
          <td>{{ data.promulgationInfoDate }}</td>
          <td *ngIf="data.businessDocType == 0">{{ 'document.new' | translate }}</td>
          <td *ngIf="data.businessDocType == 1">{{ 'document.recover' | translate }}</td>
          <td *ngIf="data.businessDocType == 2">{{ 'document.update' | translate }}</td>
          <td *ngIf="data.businessDocType == 3">{{ 'document.replace' | translate }}</td>
          <td *ngIf="data.isReceived == 0">Chưa nhận</td>
          <td *ngIf="data.isReceived == 1">Đã nhận</td>
          <td>{{ data.timeRequestStr }}</td>
          <td>
            <button nz-button nzType="primary" nzSize="default" (click)="edit(data.id)" [nzLoading]="submitting">
              {{ 'table.action.detail' | translate }}
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
  <br />
  <nz-pagination
    nzResponsive
    nzShowSizeChanger
    [nzSize]="'small'"
    [nzTotal]="nzTotal"
    [nzPageSize]="PAGE_SIZE"
    (nzPageSizeChange)="changePageSize($event)"
    (nzPageIndexChange)="getData($event, PAGE_SIZE)"
    [nzShowTotal]="rangeTemplate"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} {{ 'pagination.of' | translate }} {{ nzTotal }} {{ 'pagination.items' | translate }}
  </ng-template>
</nz-card>
