<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'form.authorities.authoritieName' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="authoritieName" placeholder="" />
    </se>
    <se label="{{ 'form.authorities.authKey' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="authKey" placeholder="" />
    </se>
    <se label="{{ 'form.authorities.parentId' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <nz-form-control>
        <nz-select formControlName="parentId" name="parentId" [nzPlaceHolder]="''" [nzShowSearch]="true">
          <nz-option [nzLabel]="" [nzValue]="0"></nz-option>
          <nz-option
            [nzDisabled]="i.id == id"
            *ngFor="let i of listParent; let idx = index"
            [nzLabel]="i.description"
            [nzValue]="i.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="{{ 'form.authorities.orderId' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <nz-input-number formControlName="orderId" placeholder=""></nz-input-number>
    </se>
    <se label="{{ 'form.authorities.description' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="description" placeholder="" />
    </se>

    <se>
      <button
        *ngIf="id == null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.add' | translate }}
      </button>
      <button
        *ngIf="id != null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.edit' | translate }}
      </button>
      <button (click)="back()" nz-button class="ml-sm">{{ 'button.back' | translate }}</button>
    </se>
  </form>
</nz-card>
