<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'form.dept.deptName' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="deptName" placeholder="" />
    </se>
    <se label="{{ 'form.dept.deptCode' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="deptCode" placeholder="" />
    </se>
    <se label="{{ 'form.dept.parentId' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <nz-form-control>
        <nz-select formControlName="parentId" name="parentId" [nzPlaceHolder]="''" [nzShowSearch]="true">
          <nz-option [nzLabel]="" [nzValue]="0"></nz-option>
          <nz-option
            [nzDisabled]="i.id == id"
            *ngFor="let i of listParent; let idx = index"
            [nzLabel]="i.deptName"
            [nzValue]="i.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </se>
    <se label="{{ 'form.dept.deptDesc' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="deptDesc" placeholder="" />
    </se>

    <div nz-col class="gutter-row" [nzSpan]="2">
      <!--<button (click)="expand();" nz-button nzType="default" nzSize="small" type="button">
        Expand all
      </button>-->
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-tree
        [nzExpandAll]="nzExpandAll"
        [nzData]="groups"
        [nzSelectedKeys]="keys"
        [nzCheckedKeys]="keys"
        nzCheckable
        nzMultiple
        (nzClick)="nzEvent($event); getAuthorityByGroup($event)"
        (nzExpandChange)="nzEvent($event)"
        (nzCheckBoxChange)="nzEvent($event)"
      >
      </nz-tree>
    </div>

    <div nz-col class="gutter-row" [nzSpan]="8">
      <nz-tree [nzExpandAll]="nzExpandDetail" [nzData]="groupDetails" nzMultiple> </nz-tree>
    </div>

    <se>
      <button
        *ngIf="id == null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.add' | translate }}
      </button>
      <button
        *ngIf="id != null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.edit' | translate }}
      </button>
      <button (click)="back()" nz-button nzSize="default" class="ml-sm">{{ 'button.back' | translate }}</button>
    </se>
  </form>
</nz-card>
