<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <div class="card-body">
      <div class="form-group">
        <label class="form-col-form-label" for="username">Tên tài khoản <span style="color: red">*</span></label>
        <input
          [readonly]="form.value.id"
          formControlName="username"
          type="text"
          id="username"
          class="form-control {{
            form.get('username').invalid && (form.get('username').dirty || form.get('username').touched) ? 'is-invalid' : ''
          }}"
        />
        <div *ngIf="form.get('username').invalid && (form.get('username').dirty || form.get('username').touched)" style="color: red">
          <div *ngIf="form.get('username').errors?.required">Tên tài khoản không được để trống</div>
          <div *ngIf="form.get('username').errors?.pattern">Tên tài khoản chỉ được bao gồm kí tự số và chữ cái không dấu</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-col-form-label" for="status_add">Trạng thái <span style="color: red">*</span></label>
        <nz-form-item style="margin-bottom: 0">
          <nz-form-control nzErrorTip="">
            <nz-select
              [nzNotFoundContent]="'Không có dữ liệu'"
              id="status_add"
              formControlName="status"
              [nzPlaceHolder]="''"
              [nzShowSearch]="true"
            >
              <nz-option *ngFor="let i of listStatus" [nzLabel]="i.name" [nzValue]="i.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div *ngIf="form.get('status').invalid && (form.get('status').dirty || form.get('status').touched)" style="color: red">
          <div *ngIf="form.get('status').errors?.required">Trạng thái không được để trống</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-col-form-label" for="phone">Số điện thoại</label>
        <input
          formControlName="phone"
          type="text"
          id="phone"
          class="form-control {{ form.get('phone').invalid && (form.get('phone').dirty || form.get('phone').touched) ? 'is-invalid' : '' }}"
        />
        <div *ngIf="form.get('phone').invalid && (form.get('phone').dirty || form.get('phone').touched)" style="color: red">
          <div *ngIf="form.get('phone').errors?.required">Số điện thoại không được để trống</div>
          <div *ngIf="form.get('phone').errors?.pattern">Số điện thoại không đúng định dạng</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-col-form-label" for="email">Email</label>
        <input
          formControlName="email"
          type="text"
          id="email"
          class="form-control {{ form.get('email').invalid && (form.get('email').dirty || form.get('email').touched) ? 'is-invalid' : '' }}"
        />
        <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" style="color: red">
          <div *ngIf="form.get('email').errors?.required">Email không được để trống</div>
          <div *ngIf="form.get('email').errors?.email">Email không đúng định dạng</div>
        </div>
      </div>

      <div class="form-group">
        <label class="form-col-form-label" for="address">Địa chỉ</label>
        <input
          formControlName="address"
          type="text"
          id="address"
          class="form-control {{
            form.get('address').invalid && (form.get('address').dirty || form.get('address').touched) ? 'is-invalid' : ''
          }}"
        />
        <div *ngIf="form.get('address').invalid && (form.get('address').dirty || form.get('address').touched)" style="color: red">
          <div *ngIf="form.get('address').errors?.required">Địa chỉ không được để trống</div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <nz-tree
            [nzExpandAll]="nzExpandAll"
            [nzData]="group"
            [nzSelectedKeys]="keys"
            [nzCheckedKeys]="keys"
            nzCheckable
            (nzClick)="nzEvent($event)"
            (nzExpandChange)="nzEvent($event)"
            (nzCheckBoxChange)="nzEvent($event)"
          >
          </nz-tree>
        </div>

        <div class="col-md-6">
          <nz-tree [nzExpandAll]="nzExpandAll_authority" [nzData]="authorityByGroup"></nz-tree>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button *ngIf="!form.value.id" (click)="submit(form.value)" type="button" class="btn btn-primary px-4" [disabled]="form.invalid">
            {{ 'button.add' | translate }}
          </button>
          <button *ngIf="form.value.id" (click)="submit(form.value)" type="button" class="btn btn-primary px-4" [disabled]="form.invalid">
            {{ 'button.edit' | translate }}
          </button>
          <a (click)="back()" type="button" class="btn btn-secondary px-4" style="margin-left: 10px">{{ 'button.cancel' | translate }}</a>
        </div>
      </div>
    </div>
  </form>
</nz-card>
