<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <h2 *ngIf="id == null">{{ 'header.title.add' | translate }}</h2>
    <h2 *ngIf="id != null">{{ 'header.title.edit' | translate }}</h2>
  </ng-template>
</page-header>
<nz-card [nzBordered]="false">
  <nz-form-item>
    <button nz-button (click)="isVisible = true; listAgencVP()" [nzType]="'primary'">
      <span>{{ 'button.addAgency' | translate }}</span>
    </button>
  </nz-form-item>

  <form nz-form [nzLayout]="'horizontal'" [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="code">{{ 'app.code' | translate }}<span style="color: red">*</span></nz-form-label>
          <nz-form-control>
            <input *ngIf="id == null" nz-input formControlName="code" placeholder="Mã ứng dụng đăng ký liên thông" />
            <p *ngIf="id == null && form.get('code').errors?.pattern">Mã ứng dụng chỉ chứa số nguyên và chữ số</p>
            <input *ngIf="id != null" nz-input formControlName="code" placeholder="Mã ứng dụng đăng ký liên thông" [readonly]="true" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="name">{{ 'app.name' | translate }}<span style="color: red">*</span></nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" placeholder="Tên ứng dụng đăng ký" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="manage">{{ 'app.manage' | translate }}<span style="color: red">*</span></nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="manage" placeholder="Đơn vị quản lý" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="email">{{ 'email' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="email" placeholder="Email" />
            <p *ngIf="id == null && form.get('email').errors?.pattern">Email không đúng định dạng</p>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="mobile">{{ 'form.user.phoneNumber' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="mobile" placeholder="Số điện thoại" />
            <p *ngIf="id == null && form.get('mobile').errors?.pattern">Số điện thoại không đúng định dạng</p>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label [nzLg]="8" nzFor="fax">{{ 'fax' | translate }}</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="fax" placeholder="Số fax" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-col nzMd="24" nzSm="24"><p class="font-weight-bold col-md-12">Danh sách đơn vị thuộc ứng dụng</p></div>
    <div class="my-md"></div>
    <div nz-col nzMd="24" nzSm="24">
      <nz-table
        [nzTotal]="nzTotal"
        #rowSelectionTable
        [nzSize]="'small'"
        [nzData]="listAgency"
        [nzBordered]="false"
        [nzNoResult]="'Không có dữ liệu'"
        [nzScroll]="{ x: 'auto' }"
      >
        <thead>
          <tr>
            <!--            <th class="text-center">{{ 'table.agency.code' | translate }}</th>-->
            <th class="text-center">{{ 'table.agency.name' | translate }}</th>
            <th class="text-center">{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of rowSelectionTable.data; let idx = index">
            <tr>
              <td class="text-center">{{ data.name }}</td>
              <!--              <td>{{ fetchName(data.code) }}</td>-->
              <td class="text-center">
                <button type="button" nz-button (click)="remove(idx)" [nzType]="'danger'">
                  <span>{{ 'button.delete' | translate }}</span>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
    <div nz-col [nzSpan]="24" class="text-center">
      <se>
        <button
          *ngIf="id == null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.add' | translate }}
        </button>
        <button
          *ngIf="id != null"
          nz-button
          nzType="primary"
          nzSize="default"
          [disabled]="form.invalid"
          type="submit"
          [nzLoading]="submitting"
        >
          {{ 'button.edit' | translate }}
        </button>
        <button (click)="back()" nz-button nzSize="default" class="ml-sm">{{ 'button.back' | translate }}</button>
      </se>
    </div>
  </form>
</nz-card>
<nz-modal
  [(nzVisible)]="isVisible"
  [nzAutofocus]="'auto'"
  nzWidth="1080px"
  [nzStyle]="{ top: '30px' }"
  (nzTitle)="(titleModal)"
  (nzOnCancel)="handleCancel()"
>
  <ng-container *nzModalContent>
    <h2 class="mb-3">Thêm mới đơn vị thuộc ứng dụng</h2>
    <form nz-form [formGroup]="formAgency" se-container="1" labelWidth="200">
      <se label="Đơn vị liên thông" required>
        <nz-select
          [nzNotFoundContent]="'Không có dữ liệu'"
          formControlName="name"
          [nzPlaceHolder]="'Đơn vị liên thông'"
          [nzShowSearch]="true"
        >
          <nz-option [nzLabel]="item.name" [nzValue]="item.name" *ngFor="let item of listAgecyVP"></nz-option>
        </nz-select>
      </se>
      <ng-container>
        <se class="text-center">
          <button
            nz-button
            [disabled]="formAgency.invalid"
            [nzType]="'primary'"
            type="button"
            [nzLoading]="submitting"
            (click)="submitAgency(formAgency.value)"
          >
            Thêm
          </button>
          <button nz-button [nzType]="'default'" (click)="handleCancel()">Hủy</button>
        </se>
      </ng-container>
    </form>
  </ng-container>
  <div *nzModalFooter></div>
</nz-modal>
