<page-header [title]="tab" [recursiveBreadcrumb]="true">
  <ng-template #tab>
    <div *ngIf="id == null">{{ 'header.title.add' | translate }}</div>
    <div *ngIf="id != null">{{ 'header.title.edit' | translate }}</div>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit(form.value)" se-container="1" labelWidth="200">
    <se label="{{ 'form.right.rightName' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="name" placeholder="" />
    </se>

    <se label="{{ 'form.right.rightCode' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="rightCode" placeholder="" />
    </se>

    <se label="{{ 'form.right.parentId' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <nz-form-control>
        <nz-select
          formControlName="parentId"
          name="parentId"
          [nzPlaceHolder]="''"
          [nzShowSearch]="true"
          (ngModelChange)="changeIsParent(form.value)"
        >
          <nz-option [nzLabel]="" [nzValue]="0"></nz-option>
          <nz-option
            [nzDisabled]="i.id == id"
            *ngFor="let i of listParent; let idx = index"
            [nzLabel]="i.description"
            [nzValue]="i.id"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </se>

    <se label="{{ 'form.right.rightOrder' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <nz-input-number formControlName="rightOrder" placeholder=""></nz-input-number>
    </se>

    <se label="{{ 'form.right.authoritieId' | translate }}" error="{{ 'validation.required' | translate }}">
      <nz-form-control>
        <nz-select formControlName="authoritieId" name="authoritieId" [nzPlaceHolder]="''" [nzShowSearch]="true"
          ><!-- nzMode="multiple"-->
          <nz-option [nzLabel]="" [nzValue]="0"></nz-option>
          <nz-option *ngFor="let i of listAuthorities; let idx = index" [nzLabel]="i.description" [nzValue]="i.id"></nz-option
          ><!--[nzDisabled]="i.id == id"-->
        </nz-select>
      </nz-form-control>
    </se>

    <se *ngIf="isParent" label="{{ 'form.right.urlRewrite' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="url" placeholder="" />
    </se>
    <se *ngIf="!isParent" label="{{ 'form.right.urlRewrite' | translate }}" error="{{ 'validation.required' | translate }}" required>
      <input nz-input formControlName="url" placeholder="" />
    </se>

    <se label="{{ 'form.right.iconUrl' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="icon" placeholder="" />
    </se>

    <se label="{{ 'form.right.description' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="description" placeholder="" />
    </se>

    <se label="{{ 'form.right.badgeSql' | translate }}" error="{{ 'validation.required' | translate }}">
      <input nz-input formControlName="badgeSql" placeholder="" />
    </se>

    <se>
      <button
        *ngIf="id == null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.add' | translate }}
      </button>
      <button
        *ngIf="id != null"
        nz-button
        nzType="primary"
        nzSize="default"
        [disabled]="form.invalid"
        type="submit"
        [nzLoading]="submitting"
      >
        {{ 'button.edit' | translate }}
      </button>
      <button (click)="back()" nz-button class="ml-sm">{{ 'button.back' | translate }}</button>
    </se>
  </form>
</nz-card>
