<div  class="row" style="padding: 15px; background-color: #1890ff" >
  <div class="col-2 text-md-right" style="margin: auto">
    <img src="/assets/img/brand/quochuy.png" width="80" height="70">
  </div>
  <div class="col-10">
    <header class="text-left text-white py-4">
      <h1 class="font-weight-bold" style="font-size: x-large; font-family:'Times New Roman',serif">{{ 'tieude' | translate }}</h1>
    </header>
  </div>
</div>
<div class="col-md-12">
  <div class="row" style=" padding: 10px; background-color: #2773c0" >
    <div class="container" style="font-size: large; font-family:'Times New Roman',serif">
      <div class="row">
        <a style=" padding-left: 25px; color: #f2f2f2; " href="/gioithieu"> <i class="fa fa-home"></i></a>
        <a style=" padding-left: 40px; color: #f2f2f2; " href="/gioithieu"> GIỚI THIỆU </a>
        <a style=" padding-left: 40px; color: #f2f2f2" href="/quytrinh"> QUY TRÌNH </a>
        <a style=" padding-left: 40px; color: #f2f2f2" href="/dichvu"> DỊCH VỤ </a>
        <a style=" padding-left: 40px; color: #f2f2f2" href="/ungdung"> ỨNG DỤNG KẾT NỐI </a>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding: 15px; font-family: 'Times New Roman',serif">
  <div class="col-md-12">
    <div class="row">
      <h1 class="py-md mt-sm" style=" font-weight: bold; font-size : x-large">ỨNG DỤNG ĐANG KẾT NỐI VỚI LGSP HẢI DƯƠNG</h1>
    </div>
    <nz-card [nzBordered]="false" style="margin-bottom: auto">
     <!-- <form nz-form [formGroup]="form" se-container="1" labelWidth="200">-->
        <nz-row [nzGutter]="16" class="py-lg">
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-primary">
                <!--<i nz-icon nzType="rocket" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">DỊCH VỤ CÔNG TRỰC TUYẾN</h2>
              </a>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-red">
              <!--  <i nz-icon nzType="hdd" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">CỔNG THÔNG TIN ĐIỆN TỬ</h2>
              </a>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-orange">
            <!--    <i nz-icon nzType="user" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">ĐÔ THỊ THÔNG MINH TP.CHÍ LINH</h2>
              </a>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-purple">
           <!--     <i nz-icon nzType="api" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">MAIL CÔNG VỤ</h2>
              </a>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-cyan">
      <!--          <i nz-icon nzType="api" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">KINH TẾ XÃ HỘI</h2>
              </a>
            </nz-card>
          </nz-col>
          <nz-col [nzXs]="12" [nzMd]="8">
            <nz-card>
              <a class="d-block text-center text-teal">
               <!-- <i nz-icon nzType="api" class="display-1 mb-md"></i>-->
                <img src="/assets/img/qh2.png">
                <h2 class="mb0" style="color: #0c0c0c">NỀN TẢNG CHIA SẺ QUỐC GIA NGSP</h2>
              </a>
            </nz-card>
          </nz-col>
        </nz-row>
     <!-- </form>-->
    </nz-card>
  </div>
</div>
<!-- Footer Section Begin -->
<div class="row">
  <div class="col-md-12">
    <footer class="footer"  style="padding-top: 10px; padding-bottom: 15px">
      <div class="text-center text-white" style="font-family: 'Times New Roman',serif">
        <p style=" padding-bottom:6px; font-size : large">NỀN TẢNG CHIA SẺ, TÍCH HỢP DỮ LIỆU HẢI DƯƠNG</p>
        <p>Cơ quan chủ quản: Sở Thông tin và Truyền thông Hải Dương</p>
        <p>Điện thoại: 0220.3.987.345    -    Email: thongtintruyenthong@haiduong.gov.vn</p>
        <p>Địa chỉ: 199 Nguyễn Lương Bằng - TP. Hải Dương - Tỉnh Hải Dương</p>
      </div>
    </footer>
  </div>
</div>
