@import '~@delon/theme/system/index';
@import '~@delon/abc/index';
@import '~@delon/chart/index';
@import '~@delon/theme/layout-default/style/index';
@import '~@delon/theme/layout-blank/style/index';

@import './styles/index';
@import './styles/theme';

.cdk-overlay-container {
  z-index: 10000 !important;
}

.breadcrumb {
  padding: 0.75rem 1rem !important;
  margin-bottom: 1rem !important;
  background-color: #e9ecef !important;
  border-radius: 0.25rem !important;
}

.app-header {
  padding: 0 !important;
}

.modal-footer {
  margin: unset;
}

.modal-header {
  margin: unset;
}
