<div class="alain-default__content-title">
  <h1>路由守卫</h1>
</div>
<nz-button-group>
  <button nz-button [routerLink]="['/delon/guard/leave']">
    <span>离开确认页</span>
  </button>
</nz-button-group>
<nz-button-group class="ml-sm">
  <button nz-button (click)="setRole(true)">
    <span>设置管理员</span>
  </button>
  <button nz-button (click)="setRole('user1')">
    <span>设置员工1</span>
  </button>
  <button nz-button (click)="setRole('user2')">
    <span>设置员工2</span>
  </button>
</nz-button-group>
<nz-button-group class="ml-sm">
  <button nz-button [routerLink]="['/delon/guard/auth']">
    <span>需要user1</span>
  </button>
  <button nz-button [routerLink]="['/delon/guard/admin']">
    <span>需要管理员</span>
  </button>
</nz-button-group>
<p class="mb-lg">当前ACL信息：{{ data | json }}</p>
<router-outlet></router-outlet>
