<div  class="row" style="padding: 15px; background-color: #1890ff" >
  <div class="col-2 text-md-right" style="margin: auto">
    <img src="/assets/img/brand/quochuy.png" height="70">
  </div>
  <div class="col-10">
    <header class="text-left text-white py-4">
      <h1 class="font-weight-bold" style="font-size: x-large; font-family:'Times New Roman',serif">{{ 'tieude' | translate }}</h1>
    </header>
  </div>
</div>
<div class="col-md-12">
  <div class="row" style=" padding: 10px; background-color: #2773c0" >
      <div class="container" style="font-size: large; font-family:'Times New Roman',serif">
          <div class="row">
            <a style=" padding-left: 25px; color: #f2f2f2; " href="/gioithieu"> <i class="fa fa-home"></i></a>
            <a style=" padding-left: 40px; color: #f2f2f2; " href="/gioithieu"> GIỚI THIỆU </a>
            <a style=" padding-left: 40px; color: #f2f2f2" href="/quytrinh"> QUY TRÌNH </a>
            <a style=" padding-left: 40px; color: #f2f2f2" href="/dichvu"> DỊCH VỤ </a>
            <a style=" padding-left: 40px; color: #f2f2f2" href="/ungdung"> ỨNG DỤNG KẾT NỐI </a>
          </div>
      </div>
  </div>
</div>
<div class="container" style="padding: 15px; font-family: 'Times New Roman',serif">
  <div class="col-md-12">
    <div class="row">
      <h1 class="py-md mt-sm" style=" font-weight: bold; font-size : x-large">LGSP LÀ GÌ?</h1>
      <div>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'gioithieu' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'mohinh' | translate }}</p>
      </div>
    </div>
    <div class="text-center">
      <img src="/assets/img/avatars/CPDT.jpg" alt="Khung Chinh Phu Dien Tu">
      <p class="font-italic" style="font-size : larger">Hình 1. Mô hình tổng quát CPĐT Việt Nam</p>
    </div>
<!--    <div class="row">
      <div>
        <h1 class="py-md mt-sm" style=" font-weight: bold; font-size : x-large">THÀNH PHẦN CƠ BẢN LGSP</h1>
      </div>
      <div>
        <p style="margin: 5px; font-size : larger">{{ 'thanhphan' | translate }}</p>
      </div>
    </div>
    <div class="text-center">
      <img src="/assets/img/avatars/thanhphanlgsp.JPG" alt="Thanh phan LGSP">
      <p class="font-italic" style="font-size : larger">Hình 2. Mô hình các thành phần cơ bản LGSP</p>
    </div>-->
    <div class="row">
      <h1 class="py-md mt-sm" style=" font-weight: bold; font-size : x-large">NHÓM DỊCH VỤ LGSP CUNG CẤP BAO GỒM:</h1>
      <div>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'LGSP1' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'LGSP2' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'LGSP3' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'LGSP4' | translate }}</p>
      </div>
    </div>
    <div class="row">
      <h1 class="py-md mt-sm" style=" font-weight: bold; font-size : x-large">HIỆU QUẢ MANG LẠI</h1>
      <div>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'Hieuqua1' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify ">{{ 'Hieuqua2' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'Hieuqua3' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'Hieuqua4' | translate }}</p>
        <p style="margin: 5px; font-size : larger; text-align: justify">{{ 'Hieuqua5' | translate }}</p>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section Begin -->
<footer class="footer" style="padding-top: 10px; padding-bottom: 15px">
  <div class="text-center text-white" style="font-family: 'Times New Roman',serif">
    <p style=" padding-bottom:6px; font-size : large">NỀN TẢNG CHIA SẺ, TÍCH HỢP DỮ LIỆU HẢI DƯƠNG</p>
    <p>Cơ quan chủ quản: Sở Thông tin và Truyền thông Hải Dương</p>
    <p>Điện thoại: 0220.3.987.345    -    Email: thongtintruyenthong@haiduong.gov.vn</p>
    <p>Địa chỉ: 199 Nguyễn Lương Bằng - TP. Hải Dương - Tỉnh Hải Dương</p>
  </div>
</footer>
